.theme-default-content code {
    background-color: #fff5f5;
    color: #ff502c;
}
h3{
    color:#3eaf7c;
}
.theme-default-content:not(.custom){
    margin:0;
}
.page-nav {
    margin: 0 0 !important;
}